# <img src="https://cdn-icons-png.flaticon.com/512/2857/2857376.png" width="50" height="50"> **Práctica 1: Probabilidad y Estadística- PED** <img src="https://cdn-icons-png.flaticon.com/512/2857/2857376.png"  width="50" height="50">

**Importante:** Hacer una copia en su drive antes de comenzar.


#Ejercicio 1


De los 39 alumnos de una clase, 16 escogieron francés y 27 inglés. Nueve
alumnos eligieron ambos, y el resto no escogió ninguno de ellos. Si se elige al
azar un alumno de dicha clase, halla las siguientes probabilidades.

1. Escogió francés.
2. Escogió inglés.
3. Escogió ambos idiomas.

#Ejercicio 2


¿Cual es la probabilidad de que salga el numero 3 al tirar un dado?

In [1]:
#datos
numero_alumnos = 39
frances = 16
ingles = 27
ingles_frances = 9

In [ ]:
#Ejersicio 1
p_frances = frances / numero_alumnos
p_ingles = ingles / numero_alumnos
p_ingles_frances = ingles_frances /numero_alumnos

p_ingles, p_frances, p_ingles_frances

In [4]:
#Ejersicio 2
dado = [1,2,3,4,5,6]
p_tres = dado.count(3) / len(dado)

p_tres

0.16666666666666666



El siguiente código simula la tirada de un dado:

```
import random

# devuelve un entero aleatorio entre 1 y 6
dado = random.randint(1,6)
```


Dado el codigo anterior, crear una función que simule n cantidad de tiradas de un dado.

```
def tirar_dado(n):
    
```

In [22]:
import random

def tirar_dado(numero_tiradas, cara_dado):
    caras = []

    if str(numero_tiradas).isnumeric():
        numero_tiradas = int(numero_tiradas)  # Convert input to integer
        for i in range(numero_tiradas):
            cara = random.randint(1, 6)  # Assuming a standard 6-sided dice
            caras.append(cara)
        
        n_frecuencia_absoluta = caras.count(cara_dado)
        n_frecuencia_relativa = n_frecuencia_absoluta / len(caras)
        
        return caras, n_frecuencia_absoluta, n_frecuencia_relativa
    else:
        print("Por favor, ingrese un valor numerico entero válido.")
        return None  # Return None when input is invalid

*  Simular 10 tiradas y calcular la frecuencia absoluta de que salga el numero 3
*  Simular 100 tiradas y calcular la frecuencia absoluta de que salga el numero 3
*  Simular 1000 tiradas y calcular la frecuencia absoluta de que salga el numero 3

In [27]:
#10 tiradas numero 3 #100 tiradas numero 3  #1000 tiradas numero 3
tirar_dado(10, 3)[1:], tirar_dado(100, 3)[1:], tirar_dado(1000, 3)[1:]

((2, 0.2), (16, 0.16), (149, 0.149))

#Ejercicio 3

Dadas las siguientes situaciones que se presentan a continuacion.


*   Determinar la variable e identificar su tipo.
*   Calcular los estadisticos de resumen.
*   Realizar la tabla de frecuencia (frecuencia absoluta, relativa, porcentual y acumulada)

1. Un estudio realizado a 20 alumnos para determinar su grupo sanguíneo ha dado el siguiente resultado:

'0', '0', '0', 'A', 'A', 'B', '0', 'AB', '0', 'B', 'B', 'A', '0', 'A', 'B', '0', 'A', '0', '0', 'A'

In [74]:
import numpy as np

grupo_sanguineo = np.array(['0', '0', '0', 'A', 'A', 'B', '0', 'AB', '0', 'B', 'B', 'A', '0', 'A', 'B', '0', 'A', '0', '0', 'A'])

enteros = np.array([])
texto = np.array([])

for i in grupo_sanguineo:
    if i.isnumeric():
        enteros = np.append(enteros, int(i))
    else:
        texto = np.append(texto, i)

In [75]:
np.unique(enteros)

array([0.])

In [76]:
import pandas as pd

texto = pd.Series(data = np.unique(texto, return_counts=True), index = ['valores', 'conteo'])

In [77]:
texto

valores    [A, AB, B]
conteo      [6, 1, 4]
dtype: object



2. Se registran las faltas en un curso de  un Colegio durante 20 dias.

1, 0, 1, 2, 1, 2, 2, 0, 2, 0, 1, 0, 1, 1, 2, 3, 0, 2, 1, 0

In [101]:
curso = pd.Series([1, 0, 1, 2, 1, 2, 2, 0, 2, 0, 1, 0, 1, 1, 2, 3, 0, 2, 1, 0])
curso.describe()

count    20.00000
mean      1.10000
std       0.91191
min       0.00000
25%       0.00000
50%       1.00000
75%       2.00000
max       3.00000
dtype: float64

In [93]:
curso = curso.value_counts()

count
6    2
7    1
1    1
Name: count, dtype: int64

In [104]:
curso_frecrel = pd.Series(curso.value_counts(normalize=True))

In [105]:
curso_frecrel

1    0.35
0    0.30
2    0.30
3    0.05
Name: proportion, dtype: float64

In [107]:
curso.describe()

count    20.00000
mean      1.10000
std       0.91191
min       0.00000
25%       0.00000
50%       1.00000
75%       2.00000
max       3.00000
dtype: float64


##¿Que ocurre si agregamos un dato mas?

Ahora agregamos un dato mas que se corresponde al dia 21. El dia 21 hubo 32 faltas. ¿Que pasa?

In [130]:
curso = pd.Series([1, 0, 1, 2, 1, 2, 2, 0, 2, 0, 1, 0, 1, 1, 2, 3, 0, 2, 1, 0, 21])

In [131]:
curso_freq_abs = curso.value_counts()
curso_freq_rel = curso_freq_abs.value_counts(normalize=True)

In [132]:
curso_freq_abs

1     7
0     6
2     6
3     1
21    1
Name: count, dtype: int64

In [133]:
curso_freq_rel

count
6    0.4
1    0.4
7    0.2
Name: proportion, dtype: float64

In [117]:
curso.describe()

count     21
unique     5
top        1
freq       7
dtype: int64

#Ejercicio 4
La dueña de un departamento de alquiler temporario lleva un registro de la cantidad de noches que se alojan sus últimos 12 invitados: `7, 5, 2, 7, 7, 1, 14, 2, 1, 14, 7, 3`.

Decidir cuál de las siguientes afirmaciones es verdadera.

* El desvío es igual a 20,33.
* La varianza es igual a 20,33.
* El desvío es igual a 4,51.
* La varianza es igual a 4,51.
* Ninguna de las demás opciones.

Construir la tabla de frecuencia absoluta.

In [135]:
noches = np.array([7, 5, 2, 7, 7, 1, 14, 2, 1, 14, 7, 3])

In [144]:
noches_frecabs = pd.Series(noches).value_counts()

In [146]:
pd.DataFrame(noches_frecabs)

    count
7       4
2       2
1       2
14      2
5       1
3       1

In [139]:
#b, d
np.var(noches)

18.63888888888889

In [140]:
#a, c
np.std(noches)

4.317277948996206

In [ ]:
#d
np.var

#Ejercicio 5

A continuación, se presenta la distribución de frecuencias de la cantidad de hijos de veinte parejas:


|Cantidad de Hijos	|Frecuencia absoluta|
|-------------------|-------------------|
|0	|4|
|1	|5|
|2	|6|
|3	|3|
|4	|2|
|Total	|20|


Decidir que afirmación es correcta:

1.  La mediana es igual a 2 y la media es igual a 1, 7.
2. La mediana es igual a 1 y la media es igual a 1, 7.
3. La mediana es igual a 2 y la media es igual a 3, 8.
4.  La mediana es igual a 1, 7 y la media es igual a 1.
5. Ninguna de las demás opciones

In [147]:
#su codigo
index = [0,1,2,3,4]
obsolute_freq = [4,5,6,3,2]

df = pd.DataFrame(obsolute_freq, index = index)

In [158]:
{'mediana: ': np.median(df.values),
'media: ' : np.mean(df.values)}

{'mediana: ': 4.0, 'media: ': 4.0}