# <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/22/Pandas_mark.svg/250px-Pandas_mark.svg.png" width="50" height="50"> **Práctica 03: Pandas - PED** <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/22/Pandas_mark.svg/250px-Pandas_mark.svg.png"  width="50" height="50">

Giulia Carbonari: gcarbonari.unahur@gmail.com

In [ ]:
#Importar las librerias

##Ejercicio 1: Series

###Ejercicio 1.1
Generar una Serie a partir de una lista:


```
lista = [1, 7, -5]
```

0    1
1    7
2   -5
dtype: int64

Imprimir el valor que se encuentra en la posicion 2 del indice, es decir, el 5.

-5

###Ejercicio 1.2


Crear una serie a partir del diguiente diccionario:


```
notas = {'Juan':9, 'María':6.5, 'Pedro':4, 'Carmen': 8.5, 'Luis': 5}
```

Deberia verse asi:

|  |  |  
| :--- |:----|
| Juan  | 9|
| María  | 6.5|
| Pedro | 4|
| Carmen  | 8.5|
| Luis  | 5|

Juan      9.0
María     6.5
Pedro     4.0
Carmen    8.5
Luis      5.0
dtype: float64

###Ejercicio 1.3

Utilizando el paramero index, filtrar las notas de Juan y Carmen, y ponerlos en otra serie.
El resultado tiene que ser:

|  |  |
| :---: |:----:|
| Juan  | 9|
| Carmen  | 8.5|

In [ ]:
notas = #diccionario
serie = funcionquecrealaserie(diccionario, index=['Juan', 'Carmen'])

Juan      9.0
Carmen    8.5
dtype: float64

##Ejercicio 2: Crear un Dataframe


###Ejercicio 2.1

Crear un dataframe con los datos del Ejercicio 1.


**Ayudita:**

```
notas = { "Nombre": [        ],
          "Nota"  : [        ]  }
```

   Nombre  Nota
0    Juan   9.0
1   María   6.5
2   Pedro   4.0
3  Carmen   8.5
4    Luis   5.0

###Ejercicio 2.1

Escribir programa que genere y muestre por pantalla un DataFrame con los datos de la tabla siguiente:

| Mes     | Ventas | Gastos |
| ------- | -----: | -----: |
| Enero   |  30500 |  22000 |
| Febrero |  35600 |  23400 |
| Marzo   |  28300 |  18100 |
| Abril   |  33900 |  20700 |

       Mes  Ventas  Gastos
0    Enero   30500   22000
1  Febrero   35600   23400
2    Marzo   28300   18100
3    Abril   33900   20700

##Ejercicio 3: Funcion loc

###Ejercicio 3.1

Utilizar la funcion `loc()` de pandas para acceder a fila correspondiente de Pedro en el dataframe df_notas del Ejercicio 3.

Nombres    Pedro
Notas        4.0
Name: 2, dtype: object

###Ejercicio 3.2

Se puede devolver mas de una columna(serie). Probar el comando `df.loc[[0, 1]]` con el dataframe del Ejercicio 4.

       Mes  Ventas  Gastos
0    Enero   30500   22000
1  Febrero   35600   23400

##Ejercicio 4: Cargar datos de un archivo csv


Tambien podemos cargar archivos de texto dentro de un DataFrame. Abriremos un archivo de extension csv que se encuentra en internet.

Utilizar `read_csv` de la libreria pandas para leer el archhivo medals.csv.


```
pd.read_csv('http://winterolympicsmedals.com/medals.csv')
```

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
2306,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
2307,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
2308,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
2309,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold
2310,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver

##Ejercicio 5: Explorar el dataframe


Explorar las siguintes funciones de pandas con el dataframe de las medallas del ejercicio anterior.

`df.head() `→ retorna las 5 primeras filas. También le puedes pasar un entero como parámetro y te devolverá esa cantidad de primeras filas.

`df.tail()` → retorna las últimas 5 filas del dataset.

`df.sample()` → es parecido a los 2 anteriores, pero este tomará muestras al azar del DataFrame. Aquí es obligatorio especificar la cantidad.

`df.shape` → retorna las filas y columnas que tiene el DataFrame.

`df.size` → multiplica las filas y columnas y te da el total de datos del DataFrame.

`df.info()` → este es genial, te da la cuenta de valores no nulos, el tipo de dato de cada columna (recuerda que solo puede haber un único tipo de dato por columna) y el uso de memoria. Cuando estés preprocesando los datos, será un gran aliado.

`df.describe() `→ te ayudará mucho con las primeras impresiones de los datos. Calcula algunas estadísticas descriptivas para cada columna.